config SGT_COMPCACHE
	tristate "compcache"
	depends on MODULES && m
	default m
	---help---
	  compcache creates RAM based block device (named ramzswap) which
          acts as swap disk. Pages swapped to this disk are compressed and
          stored in memory itself.

          Compressing pages and keeping them in RAM virtually increases its
          capacity. This allows more applications to fit in given amount of
          memory.


